node_modules/
.next/
out/
dist/
coverage/
*.tsbuildinfo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.env*
!.env.example

.vscode/

public/uploads/*
!public/uploads/.gitkeep

prisma/*.db
prisma/*.db-*
